name: Update Profile Stats

on:
  schedule:
    - cron: "0 */6 * * *"  # Every 6 hours
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: jayghoshter/readme-typing-svg@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
